Parsing_Weather.exe
ParsingConsoleGo.exe
ParsingConsoleGo
ParsingLinuxGo
_internal
telegram_bot/auth_data.py
telegram_bot/users_data
/.idea
/.ipynb_checkpoints
__pycache__/
parsing.ipynb
neural_network
venv
.vscode
.DS_Store/